body{
    margin: 0;
    background: #3D7D6C;
}
.father {
    display: flex;
    flex-direction: column;
    
}
.header {
    background: #333837;
    height: 140px;
    display: flex;
    align-items: center;
}

    .header_img {
        flex-basis: 15%;
        margin-left: 50px;
    }

        .header_img img {
            height: 100px;
            width: 122px;
            padding-left: 50%;
        }

    .header_h1 {
        display: flex;
        flex-basis: 70%;
        justify-content: center;
    }
        .h1 {
            color: #E2D1D1;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 13pt;
        }
    

.navbar {
    background: #617872;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

    .navbar a {
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        padding-left: 7%;
    }

.body {
    background: #3D7D6C;
    display: flex;
}

    .information {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        margin: 10px 3% 10px 3%;
        color: #FFFFFF;
    }

        .mision {
            text-align: center;
        }

            .mision h2 {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }

            .mision p {
                font-family: 'Roboto', sans-serif;
            }

        .view {
            text-align: center;
        }

            .view h2 {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }

            .view p {
                font-family: 'Roboto', sans-serif;
            }

    .images{
        border-left-style: solid;
        border-left-color: #C8F7EC; 
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;        
        flex-basis: 50%;
    }

        .images div {
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
        }
            .images div img {
                padding-bottom: 50px;
                width: 400px;
                height: 300px;
            }


.footer {
    background: #8AABA3;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}